.home-page {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.home-img {
    position: relative;
    top: -150px;
    margin-bottom: 20px;
}

h2 {
    position: relative;
    text-align: center;
    top: -150px;

}
