<div class="signup-container">
  <h2>Sign up page</h2>
  <form [formGroup]="signup" class="form-container">
    <common-input
      inputType="text"
      inputPlaceHolder="username"
      formControlName="username"
      [formValue]="username.value"
    ></common-input>
    <div
      class="error-text"
      *ngIf="emailAddress.errors?.['required'] && (signup.touched || signup.dirty)"
    >
      Please input username
    </div>
    <common-input
      inputType="text"
      inputPlaceHolder="password"
      formControlName="password"
      [formValue]="password.value"
    ></common-input>
    <div
      class="error-text"
      *ngIf="emailAddress.errors?.['required'] && (signup.touched || signup.dirty)"
    >
      Please input password
    </div>
    <common-input
      inputType="email"
      inputPlaceHolder="email address"
      formControlName="emailAddress"
      [formValue]="emailAddress.value"
    ></common-input>
    <div
      class="error-text"
      *ngIf="emailAddress.errors?.['required'] && (signup.touched || signup.dirty)"
    >
      Please input email address
    </div>
    <common-input
      inputType="text"
      inputPlaceHolder="date of birth"
      formControlName="dob"
      [formValue]="dob.value"
    ></common-input>
    <div
      class="error-text"
      *ngIf="emailAddress.errors?.['required'] && (signup.touched || signup.dirty)"
    >
      Please input date of birth
    </div>
    <div class="button-group">
      <common-button
        inputType="submit"
        buttonName="Submit"
        (buttonClicked)="submit()"
      ></common-button>
      <common-button
        inputType="reset"
        buttonName="clear"
        (buttonClicked)="reset()"
      ></common-button>
    </div>
  </form>
</div>
