/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

div {
    border: 0;
    padding: 0;
    margin: 0;
}

div:focus {
    border: 0;
}